@keyframes fadeInScale {
	0% {
		opacity: 0;
		transform: scale(0.8);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.competences-earwig,
.formations-earwig,
.experiences-earwig,
.diplomes-earwig {
	font-family: 'Persona Earwig', sans-serif;
	display: inline-block;
	animation: fadeInScale 1s ease-in-out;
}

@keyframes float {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
	100% {
		transform: translateY(0);
	}
}

@keyframes wave {
	0% {
		transform: translateX(0);
	}
	50% {
		transform: translateX(5px);
	}
	100% {
		transform: translateX(0);
	}
}

.animate-logo {
	animation: float 3s ease-in-out infinite;
}

.animate-text {
	display: inline-block;
	animation: wave 3s ease-in-out infinite;
}

@keyframes waveEffect {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.wave-title {
	display: inline-block;
	animation: waveEffect 3s ease-in-out infinite;
}

@keyframes slideUpDown {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(0);
	}
}

.diplome-img {
	display: inline-block;
	animation: slideUpDown 3s ease-in-out infinite;
	transition: transform 0.3s ease;
}

.diplome-img:hover {
	transform: scale(1.05) !important;
}

/* @keyframes shake {
	0% {
		transform: translate(0, 0);
	}
	25% {
		transform: translate(-2px, 2px);
	}
	50% {
		transform: translate(2px, -2px);
	}
	75% {
		transform: translate(-2px, 2px);
	}
	100% {
		transform: translate(0, 0);
	}
} */
/* @keyframes glitch {
	0% {
		text-shadow: 2px 0 red, -2px 0 cyan;
	}
	25% {
		text-shadow: -2px 0 red, 2px 0 cyan;
	}
	50% {
		text-shadow: 2px 0 cyan, -2px 0 red;
	}
	75% {
		text-shadow: -2px 0 cyan, 2px 0 red;
	}
	100% {
		text-shadow: 2px 0 red, -2px 0 cyan;
	}
} */

/* @keyframes skew {
	0% {
		transform: skewX(0deg);
	}
	25% {
		transform: skewX(5deg);
	}
	50% {
		transform: skewX(-5deg);
	}
	75% {
		transform: skewX(5deg);
	}
	100% {
		transform: skewX(0deg);
	}
}

.formation-earwig {
	font-family: 'Persona Earwig', sans-serif;
	display: inline-block;
	animation: skew 0.5s infinite alternate ease-in-out;
} */

/* @keyframes vibration-glitch {
	0% { transform: translate(0, 0) skewX(0deg); text-shadow: 2px 0 red, -2px 0 cyan; }
	25% { transform: translate(-2px, 2px) skewX(5deg); text-shadow: -2px 0 red, 2px 0 cyan; }
	50% { transform: translate(2px, -2px) skewX(-5deg); text-shadow: 2px 0 cyan, -2px 0 red; }
	75% { transform: translate(-2px, 2px) skewX(5deg); text-shadow: -2px 0 cyan, 2px 0 red; }
	100% { transform: translate(0, 0) skewX(0deg); text-shadow: 2px 0 red, -2px 0 cyan; }
}

.formation-earwig {
	font-family: 'Persona Earwig', sans-serif;
	display: inline-block;
	animation: vibration-glitch 0.2s infinite alternate ease-in-out;
} */
