@font-face {
	font-family: 'P5hatty';
	src: url(../fonts/p5hatty.ttf);
}

@font-face {
	font-family: 'earwig-factory';
	src: url(../fonts/earwig-factory.ttf);
}

@keyframes slideIn {
	from {
		transform: translateX(100%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(-100%);
		opacity: 0;
	}
}

.page-enter {
	animation: slideIn 0.5s forwards;
}

.page-exit {
	animation: slideOut 0.5s forwards;
}

body {
	flex-direction: column;
	font-family: arial, earwig-factory, p5hatty;
	font-size: 20px;
	font-weight: bolder;
	overflow-y: hidden !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-overflow: clip;
}

.Presentation {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_menu_3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 60vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.Coordonnees {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_2.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
.contact-earwig {
	font-family: earwig-factory;
	color: gold;
}

em {
	font-family: earwig-factory;
	color: white;
}

.hobbies-earwig {
	font-family: earwig-factory;
	color: lightgoldenrodyellow;
	font-weight: 10;
	font-size: larger;
}
.Competences {
	font-family: arial;
	background: url('../assets/wallpapers/persona5.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	font-size: 15px;
}
.competences-earwig {
	font-family: earwig-factory;
	color: lightgoldenrodyellow;
	font-weight: 10;
	font-size: larger;
}

.diplome img {
	height: 180px;
	width: auto;
	object-fit: contain;
}

.bep-link {
	margin-right: 20px;
}

.rncp-link {
	margin-left: 20px;
}

.language {
	align-items: center;
	display: inline-block;
	padding: 10px;
}

.language-icon {
	margin-bottom: 10px;
	height: 50px;
	min-width: 16px;
	padding-bottom: 11px;
}

.Projets {
	background: url('../assets/wallpapers/persona5_calendar.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	font-size: 14px;
}

.Hobbies {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_menu_3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.Contact {
	font-family: cursive;
	background: url('../assets/wallpapers/persona5_pattern.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 60vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.contact-btn {
	overflow-y: hidden;
	margin: -20px;
	height: 54px;
}

.Footer {
	height: 100%;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.copyright {
	margin: auto;
	overflow: auto !important;
	height: 600px;
	line-height: 100%;
}

.footer-copyright {
	text-align: center;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.2);
	height: 600px;
	line-height: 74px;
}

.card {
	margin: 5% 10% 20% 10%;
	height: 175vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: inherit;
}

.card-presentation {
	margin: 5% 20% !important;
	height: 42vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.card-skills {
	margin: 5% 20% !important;
	height: 155vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.card-hobbies {
	margin: 5% 20% !important;
	height: 130vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.card-projects {
	margin: 5% 20% 20% 20% !important;
	height: 200vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.card-localisation {
	margin: 5% 20% !important;
	height: 80vh !important;
	background-color: rgba(8, 6, 6, 0.561);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
@media screen and (max-width: 605px) {
	.card {
		margin: 18% 5% 5% !important;
		height: 80vh !important;
	}
	.language-icon {
		max-width: 30px;
	}
	.hide-when-small {
		display: none !important;
	}
}

.computer-container {
	display: inline;
}

.first-computer {
	display: inherit;
	padding: 10px;
}

.my-computer {
	display: inherit;
	padding: 10px;
}

.paragraph-dkc2 {
	font-size: 14px;
}

.paragraph-computer-science {
	font-size: 14px;
}

.language-french {
	font-size: 14px;
}

.language-english {
	font-size: 14px;
}

.language-spanish {
	font-size: 14px;
}

.language a {
	color: white;
	position: relative;
	text-decoration: none;
	font-weight: bold;
	transition: color 0.4s ease, transform 0.4s ease;
}

.language a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ff595e;
	bottom: 0;
	left: 0;
	transform: scaleX(0);
	transform-origin: bottom right;
	transition: transform 0.4s ease;
}

.language a:hover {
	color: #ff595e;
	transform: translateY(-2px);
}

.language a:hover::before {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.menu-toggle {
	display: none;
	font-size: 30px;
	background: none;
	border: none;
	color: white;
	position: absolute;
	top: 20px;
	right: 20px;
	cursor: pointer;
}

@media screen and (max-width: 605px) {
	.nav__list {
		display: none;
		flex-direction: column;
		position: absolute;
		top: 60px;
		right: 0;
		width: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		padding: 10px;
	}

	.nav__list.mobile-open {
		display: flex;
	}

	.nav__link {
		padding: 10px;
		text-align: center;
		border-bottom: 1px solid #fff;
	}

	.menu-toggle {
		display: block;
	}
}

.nav-wrapper {
	position: relative;
}

.nav__list {
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.nav__list.mobile-open {
	display: flex;
	flex-direction: column;
	padding-top: 5px; /* Ajuste l'espacement vertical entre les éléments quand le menu est ouvert */
}

.nav__link:hover {
	color: #ff595e;
}

.nav__link {
	color: #fff;
	text-decoration: none;
	padding: 20px 15px;
	line-height: 2.2;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: color 0.4s ease;
}

.nav__link:focus,
.nav__link:active {
	outline: none;
	background: none;
}

.nav__link:hover {
	color: #ff595e;
}
