@font-face {
	font-family: 'P5hatty';
	src: url(../fonts/p5hatty.ttf);
}

@font-face {
	font-family: 'earwig-factory';
	src: url(../fonts/earwig-factory.ttf);
}

body {
	flex-direction: column;
	font-family: arial, earwig-factory, p5hatty;
	font-size: 20px;
	font-weight: bolder;
	overflow-y: hidden !important;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	text-overflow: clip;
}

.Presentation {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_menu_3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 60vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.Coordonnees {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_2.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}
.contact-earwig {
	font-family: earwig-factory;
	color: gold;
}

em {
	font-family: earwig-factory;
	color: white;
}

.hobbies-earwig {
	font-family: earwig-factory;
	color: lightgoldenrodyellow;
	font-weight: 10;
	font-size: larger;
}
.Competences {
	font-family: arial;
	background: url('../assets/wallpapers/persona5.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	font-size: 15px;
}
.competences-earwig {
	font-family: earwig-factory;
	color: lightgoldenrodyellow;
	font-weight: 10;
	font-size: larger;
}

.language {
	align-items: center;
	display: inline-block;
	padding: 10px;
}

.language-icon {
	margin-bottom: 10px;
	height: 50px;
	min-width: 16px;
	padding-bottom: 11px;
}

.Projets {
	background: url('../assets/wallpapers/persona5_calendar.png');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
	font-size: 14px;
}

.Hobbies {
	font-family: arial;
	background: url('../assets/wallpapers/persona5_menu_3.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 100vh !important;
	overflow-y: auto !important;
	overflow-x: hidden !important;
}

.Contact {
	font-family: cursive;
	background: url('../assets/wallpapers/persona5_pattern.jpg');
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-position: center;
	height: 60vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.Footer {
	margin-bottom: 40px;
	overflow: auto;
	height: 60vh;
	overflow-y: hidden !important;
	overflow-x: hidden !important;
}

.card {
	margin: 5% 10% 20% 10%;
	height: 175vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: inherit;
}

.card-skills {
	margin: 5% 20% 20% 20% !important;
	height: 110vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.card-hobbies {
	margin: 5% 20% 20% 20% !important;
	height: 110vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.card-projects {
	margin: 5% 20% 20% 20% !important;
	height: 140vh !important;
	background-color: rgba(8, 6, 6, 0.8);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

@media screen and (max-width: 605px) {
	.card {
		margin: 18% 5% 5% !important;
		height: 80vh !important;
	}
	.language-icon {
		max-width: 30px;
	}
	.hide-when-small {
		display: none !important;
	}
}

.computer-container {
	display: inline;
}

.first-computer {
	display: inherit;
	padding: 10px;
}

.my-computer {
	display: inherit;
	padding: 10px;
}

.paragraph-dkc2 {
	font-size: 14px;
}
